@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");

.main-section-banner {
  background-image: url("https://i.ibb.co/JnmTD12/banner.jpg");
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 7px;

  &-track {
    background: #f1f1f1;
  }

  &-thumb {
    background: #888;
    border-radius: 10px;

    &:hover {
      background: #555;
    }
  }
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .bar {
  visibility: hidden;
}
